[submodule "shared-context/codex"]
	path = shared-context/codex
	url = https://github.com/openai/codex.git
[submodule "CodexLite"]
	path = CodexLite
	url = git@github.com:Stream29/CodexLite.git
[submodule "shared-context/testBalloon"]
	path = shared-context/testBalloon
	url = https://github.com/infix-de/testBalloon.git
[submodule "shared-context/kotlinx-datetime"]
	path = shared-context/kotlinx-datetime
	url = https://github.com/Kotlin/kotlinx-datetime.git
[submodule "shared-context/koog"]
	path = shared-context/koog
	url = https://github.com/JetBrains/koog.git
[submodule "shared-context/koin"]
	path = shared-context/koin
	url = https://github.com/InsertKoinIO/koin.git
